html {
    font-family: "Anta", sans-serif;
}
.container {
    height: 100vh;
    display:grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 100px auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    column-gap:20px;
}

.title {
    display:flex;
    flex-direction:column;
    align-items:center;
    grid-column-start:2;
    grid-row-start:2;
    grid-row-end: 3;

}

.image {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
    max-width: 250px;
    justify-content: center;
    align-items: top;
    padding-bottom: 5px;
}

.portrait {
    vertical-align: top;
    max-width: 100%;
    max-height:100%;
    min-width: 150px;
   
}

.contact-information {
    grid-row-start: 5;
    grid-column-start:1;
    grid-row-end: 7;
}

.summary {
    grid-column-start:1;
    grid-row-start:8;
}

.skills{
    grid-column-start: 1;
    grid-row-start:11;
    grid-row-end: 14;
}
.education, .work-experience {
    grid-column-start:2;

}
.work-experience {
    grid-row-start: 3;
    grid-row-end: 12;

}

.education {
    grid-row-start:12;
}


.certifications{
    grid-column-start:2;
    grid-row-start:13;
}

.languages {
    grid-column-start: 2;
    grid-row-start: 14;
}

/* .empty {
    grid-column-start: 1;
    grid-row:span 1;
} */
/* 
.horizontal-rule {
background-color: black;
height: 1px;
width:auto;
}


.vertical-line {
background-color: black;
height: auto;
width: 1px;
} */





.links {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 15;

}
.footer {
    grid-column-start:1;
    grid-row-start:16;
}