html {
    font-family: "Anta", sans-serif;
    color:white;
    background-color: rgba(0, 0, 0, 0.866);
}
.container {
    height: 100vh;
    display:grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 100px auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    column-gap:20px;
}

.grey {
    background-color:rgba(74, 74, 74, 0.595);
    height: 250px;
}
.turquoise {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end:16;
    background-color: rgba(146, 233, 255, 0.703);
}

.title {
    display:flex;
    flex-direction:column;
    align-items:center;
    grid-column-start:2;
    grid-row-start:2;
    grid-row-end: 3;
    color:rgb(0, 204, 255);

}

.image {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
    max-width: 250px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    color:rgb(0, 204, 255);
    margin: 20px;
}

.portrait {
    vertical-align: top;
    max-width: 100%;
    max-height:100%;
    min-width: 150px;
   
}

.contact-information, .summary, .skills {
    color: black;
    display:flex;
    flex-direction: column;
    padding:20px;

}

.contact-information {
    grid-row-start: 5;
    grid-column-start:1;
    grid-row-end: 7;
}

.summary {
    grid-column-start:1;
    grid-row-start:8;
}

.skills{
    grid-column-start: 1;
    grid-row-start:9;
    grid-row-end: 14;
}
.education, .work-experience {
    grid-column-start:2;

}
.work-experience {
    grid-row-start: 3;
    grid-row-end: 8;

}

.education {
    grid-row-start:8;
}


.certifications{
    grid-column-start:2;
    grid-row-start:9;
}

.languages {
    grid-column-start: 2;
    grid-row-start: 11;
}


/* 
.horizontal-rule {
background-color: black;
height: 1px;
width:auto;
}


.vertical-line {
background-color: black;
height: auto;
width: 1px;
} */





.links {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 15;

}
.footer {
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start:16;
}