html {
    font-family: "Anta", sans-serif;
    color:white;
    background-color: rgba(0, 0, 0, 0.866);
}


.container {
    height: 100vh;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 100px 100px auto;
}

.navbar {
  display:flex;
  cursor: pointer;
  justify-content:space-between;
  background-color:rgba(74, 74, 74, 0.595);
  border-style: solid;
  border-radius: 5%;
  height: 50px;
  padding-left:50px;
  padding-right:100px;
  grid-row-start:1;
  grid-row-end:2;

}
.about, .contact, .projects, .home, .references {
display:flex;
border-left-style:solid;
border-radius: 5%;
margin-top:0px;
margin-bottom:0px;
padding:20px;

}

.gradient-background {
    background: linear-gradient(300deg, rgb(0, 204, 255), white);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    padding-left:50px;
}

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

    .title {
        color: rgb(0, 204, 255);
        grid-row-start 2;
        padding-left:50px;
        display:flex;
        align-items: center;
    }

    .intro {
        display:flex;
        align-items: center;
        grid-row-start: 3;
        color:black;
        padding-left:50px;
    }
    .text {
        grid-row-start: 4;
        padding-top:20px;
        display:flex; 
        align-content:space-around;
        text-align: justify;
        padding-left:50px;   
    }