html {
    font-family: "Arial", sans-serif;
    font-size: 100%;
    color:white;
    background-color: rgba(0, 0, 0, 0.866);
    box-sizing: border-box;
}


.container {
    height: 100vh;
    display:grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 50px 50px 150px 150px 50px auto auto auto auto auto auto auto auto auto;
    column-gap:20px;
}

body{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}


*, *::before, *::after {
    box-sizing:inherit;
}

.navbar {
    display:flex;
    cursor: pointer;
    grid-column-start:1;
    grid-column-end: 3;
    justify-content:space-evenly;
    align-items: center;
    background-color:rgba(74, 74, 74, 0.595);
    border-style: solid;
    border-radius: 5%;
    grid-row-start:1;
    grid-row-end:2;
    
  }

  .navbar * {
    display:flex;
    margin::0px;
    padding:0px;
    
  }

.grey {
    grid-row-start:2;
    margin-top:5px;
    background-color:rgba(74, 74, 74, 0.595);
    height: 300px;
}
.turquoise {
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end:17;
    background-color: rgba(146, 233, 255, 0.703);
}

.title {
    display:flex;
    flex-direction:column;
    align-items:left;
    grid-column-start:2;
    grid-row-start:3;
    grid-row-end: 5;
    color:rgb(0, 204, 255);

}

.image {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
    display: flex;
    max-width: 250px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    color:rgb(0, 204, 255);
    margin: 20px;
}

.portrait {
    vertical-align: top;
    max-width: 100%;
    max-height:100%;
    min-width: 250px;
}

.contact-information, .summary, .skills {
    color: black;
    display:flex;
    flex-direction: column;
    margin: 20px;
    justify-content:left;

}

.contact-information {
    grid-row-start: 6;
    grid-column-start:1;
    grid-row-end: 7;
}

.summary {
    grid-column-start:1;
    grid-row-start:7;
    grid-row-end:9;
}

.skills{
    grid-column-start: 1;
    grid-row-start:9;
    grid-row-end: 13;
}
.education, .work-experience {
    grid-column-start:2;

}
.work-experience {
    grid-row-start: 5;
    grid-row-end: 8;

}

.education {
    grid-row-start:8;
    grid-row-end: 9;
}


.certifications{
    grid-column-start:2;
    grid-row-start:9;
    grid-row-end: 10;
}

.languages {
    grid-column-start: 2;
    grid-row-start: 10;
    grid-row-end: 11;
}

.hobbies {
    grid-column-start:2;
    grid-row-start: 11;
    grid-row-end: 13;
}

.bold {
    font-weight:bold;
}

.horizontal-rule {
background-color: rgb(0, 204, 255);
height: 1px;
width:auto;
}

.gradient-background {
    background: linear-gradient(300deg, rgb(0, 204, 255), white);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.horizontal-rule-left {
    display:flex;
    justify-content: center;
    margin: 20px;
    background-color: black;
    height: 2px;
    width:auto;
} 

.one1 {
    grid-column-start: 1;
    grid-row-start: 7;
}

.two1 {
    grid-column-start: 1;
    grid-row-start: 9;
}

.one {
    grid-column-start: 2;
    grid-row-start: 5;
}

.two {
    grid-column-start: 2;
    grid-row-start: 8;
}
.three {
    grid-column-start: 2;
    grid-row-start: 9;
}
.four {
    grid-column-start: 2;
    grid-row-start: 10;
}
.five {
    grid-column-start: 2;
    grid-row-start: 11;
}

.footer {
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start:14;
}